---
http_interactions:
- request:
    method: post
    uri: https://us.cloud.langfuse.com/api/public/ingestion
    body:
      encoding: UTF-8
      string: '{"batch":[{"id":"ef2b2d57-1139-46f0-a4f5-50ba5196b461","type":"trace-create","timestamp":"2025-03-27T18:30:30.818Z","body":{"id":"a5ad4805-a4a7-445c-9518-18cbe0699947","name":"test-trace","timestamp":"2025-03-27T18:30:30.818Z"}}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic cGstbGYtNGNjYWQ2ZTQtOTdkOS00ZDU1LWFkNmUtZDFkMWU1ZjNkNmEwOnNrLWxmLWNkMjYyMTYyLTZlYzktNDU2Zi04ODExLWU0OTU3ZWQ4ZTg1Nw==
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ely163vju72e"'
    body:
      encoding: UTF-8
      string: '{"successes":[{"id":"ef2b2d57-1139-46f0-a4f5-50ba5196b461","status":201}],"errors":[]}'
  recorded_at: Thu, 27 Mar 2025 18:30:31 GMT
- request:
    method: post
    uri: https://us.cloud.langfuse.com/api/public/ingestion
    body:
      encoding: UTF-8
      string: '{"batch":[{"id":"3d61c3c7-b771-4497-acbd-5e32b19e258d","type":"trace-create","timestamp":"2025-03-27T18:30:31.233Z","body":{"id":"a5ad4805-a4a7-445c-9518-18cbe0699947","output":"test
        result","timestamp":"2025-03-27T18:30:31.233Z"}}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic cGstbGYtNGNjYWQ2ZTQtOTdkOS00ZDU1LWFkNmUtZDFkMWU1ZjNkNmEwOnNrLWxmLWNkMjYyMTYyLTZlYzktNDU2Zi04ODExLWU0OTU3ZWQ4ZTg1Nw==
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"13a0nyvxe2n2e"'
    body:
      encoding: UTF-8
      string: '{"successes":[{"id":"3d61c3c7-b771-4497-acbd-5e32b19e258d","status":201}],"errors":[]}'
  recorded_at: Thu, 27 Mar 2025 18:30:31 GMT
recorded_with: VCR 6.3.1
