---
http_interactions:
- request:
    method: post
    uri: https://us.cloud.langfuse.com/api/public/ingestion
    body:
      encoding: UTF-8
      string: '{"batch":[{"id":"51a9699f-fce1-46f7-86f3-0b8ca54634e7","type":"generation-create","timestamp":"2025-03-27T18:30:32.893Z","body":{"id":"e0886104-c3c8-414d-ba2a-98f0b7285917","traceId":"trace-123","name":"test-gen","startTime":"2025-03-27T18:30:32.893Z","input":{"prompt":"test"},"model":"gpt-3.5-turbo","modelParameters":{},"usage":{}}}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic cGstbGYtNGNjYWQ2ZTQtOTdkOS00ZDU1LWFkNmUtZDFkMWU1ZjNkNmEwOnNrLWxmLWNkMjYyMTYyLTZlYzktNDU2Zi04ODExLWU0OTU3ZWQ4ZTg1Nw==
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"u8fxqtrm922e"'
    body:
      encoding: UTF-8
      string: '{"successes":[{"id":"51a9699f-fce1-46f7-86f3-0b8ca54634e7","status":201}],"errors":[]}'
  recorded_at: Thu, 27 Mar 2025 18:30:32 GMT
- request:
    method: post
    uri: https://us.cloud.langfuse.com/api/public/ingestion
    body:
      encoding: UTF-8
      string: '{"batch":[{"id":"06f7c651-ab43-4dda-bd69-8bfe0cb0cd4d","type":"generation-update","timestamp":"2025-03-27T18:30:32.893Z","body":{"id":"e0886104-c3c8-414d-ba2a-98f0b7285917","traceId":"trace-123","name":"test-gen","startTime":"2025-03-27T18:30:32.893Z","endTime":"2025-03-27T18:30:32.893Z","input":{"prompt":"test"},"output":"generated
        text","model":"gpt-3.5-turbo","modelParameters":{},"usage":{}}}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic cGstbGYtNGNjYWQ2ZTQtOTdkOS00ZDU1LWFkNmUtZDFkMWU1ZjNkNmEwOnNrLWxmLWNkMjYyMTYyLTZlYzktNDU2Zi04ODExLWU0OTU3ZWQ4ZTg1Nw==
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"11yuzqrhuow2e"'
    body:
      encoding: UTF-8
      string: '{"successes":[{"id":"06f7c651-ab43-4dda-bd69-8bfe0cb0cd4d","status":201}],"errors":[]}'
  recorded_at: Thu, 27 Mar 2025 18:30:32 GMT
recorded_with: VCR 6.3.1
